{{ if .Site.Data.homepage.client_and_work.enable }}
<section id="portfolio" class="section section--border-bottom">
  <div class="container">
    <h2 class=" rad-animation-group rad-fade-down">
      {{ .Site.Data.homepage.client_and_work.title }}
    </h2>
    <div class="row row--padded rad-animation-group rad-fade-down">
      <div class="col-12">
        <div class="clients">
          {{ range .Site.Data.homepage.client_and_work.clients }}
          <div class="clients__item">
            <a href="{{.URL }}">
              <img
                class="lozad img-responsive"
                src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                data-src="{{ .logo.x | absURL }}"
                data-srcset="{{ .logo.x | absURL }} 1x, {{ .logo._2x | absURL }} 2x"
                alt="{{ .alt }}"
              />
            </a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ range $index, $element := .Site.Data.homepage.client_and_work.works }}
    {{ if not .isSub }}

    <div
      class="row row--padded rad-animation-group rad-fade-down {{ if .is_even }}flex-column-reverse flex-md-row{{ end }}"
    >
      {{ if .is_even }}
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .title }}</h3>
        <p class="lead">
          {{ .description | markdownify }}
        </p>
        <a href="{{ .button.URL | absURL }}" class="btn btn-primary"
          >{{ .button.btnText }}<i class="{{ .button.icon }}"></i
        ></a>
      </div>
      <div class="col-12 col-md-7 pl-md-0 text-right">
        <img
          class='lozad img-responsive {{ cond (eq ( mod $index 4) 0) "img-clip-left-backward" "img-clip-left-forward" }}'
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .image.x | absURL }}"
          data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
          alt="{{ .title }}"
        />
      </div>
      {{ else }}
      <div class="col-12 col-md-7 pl-md-0 text-right">
        <img
          class='lozad img-responsive {{ cond (eq ( mod $index 4) 1)  "img-clip-right-backward" "img-clip-right-forward" }}'
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .image.x | absURL }}"
          data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x"
          alt="{{ .title }}"
          style="width:100%;"
        />
      </div>
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <h3>{{ .title }}</h3>
        <p class="lead">
          {{ .description | markdownify }}
        </p>
        <iframe frameborder="0" style="margin-bottom: 8px;" src="https://itch.io/embed/1610145" width="460" height="167"><a href="https://joshpinto6.itch.io/oliver-the-dice-master">Oliver the Dice Master by joshpinto6</a></iframe>
        <a href="{{ .button.URL | absURL }}" class="btn btn-primary"
          ><i class="{{ .button.icon }}"></i
            >{{ .button.btnText }}</a>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ if .isSub }}
    <div style="
    padding-left: 32px;
">
        
    <div class="row row--padded rad-animation-group rad-fade-down rad-waiting rad-animate" style="animation-delay: 0.1s;border-left-width: 6px;border-left-style: solid;padding-left: 48px;padding-top: 32px;padding-bottom: 32px;border-left-color: #c4c4c4;">
      
      <div class="col-12 col-md-5 mt-4 mt-md-0 my-md-auto">
        <p style="margin-bottom: 4px !important;">{{ .date }}</p>
        <h3>{{ .title }}</h3>
        <p class="lead">
          {{ .description | markdownify }}
        </p>
        <a href="{{ .button.URL | absURL }}" class="btn btn-primary"><i class="{{ .button.icon }}"></i>{{ .button.btnText }}</a>
        <a href="{{ .button2.URL | absURL }}" class="btn btn-primary btn-red"><i class="{{ .button2.icon }}"></i>{{ .button2.btnText }}</a>
      </div><div class="col-12 col-md-7 pl-md-0 text-right">
        <img class="lozad img-responsive img-clip-right-backward" src="https://joshpinto6.github.io/GodotMage/site/img/works/swissfintech.jpg" data-src="https://joshpinto6.github.io/GodotMage/site/img/works/swissfintech.jpg" data-srcset="https://joshpinto6.github.io/GodotMage/site/img/works/swissfintech.jpg 1x, https://joshpinto6.github.io/GodotMage/site/img/works/swissfintech@2x.jpg 2x" alt="Swiss Fintech Website" srcset="https://joshpinto6.github.io/img/works/oliver-the-dicemaster.png" data-loaded="true">
      </div>
      
      
    </div>
    {{ end }}
    {{ end }}
  </div>

  </div>
</section>
{{ end }}
